@font-face{
  font-family:icomoon;
  src:url(../fonts/icomoon.ttf) format("truetype"),url(../fonts/icomoon.woff) format("woff");
  font-weight:400;
}

[class*=" icomoon-"],[class^=icomoon-]{
  font-family:icomoon!important;
  font-style:normal;
}

.icomoon-settings:before{
  content:"\e900";
  font-size: 24px;
  padding-right: 6px;
}

.mainContainer {
  width: 1100px;
  max-width: 100%;
  margin: auto;
}

form {
  float: left;
  font-size: 14px;
  text-align: left;
  width: 100%;
  max-width: 450px;
}

form h1 {
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 2px;
}

form section {
  max-width: 300px;
}

form p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  width: 100%;
  margin: 12px 0;
}

form input {
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #666;
  padding:  5px 10px;
  height: 20px;
  width: 60px;
}

form p.refreshInput {
  display: inline-block;
}

form p.refreshInput input {
  margin: 0 10px;
}

form .settingsInput {
  display: flex;
}

form .settingsInput input {
  border-radius: 3px 0 0 3px;
}

form .settingsInput span {
  background-color: #EEE;
  border: 1px solid #DDD;
  border-left: 0;
  border-radius: 0 3px 3px 0;
  color: #666;
  display:flex;
  align-items: center;
  padding: 0 10px;
}

form button {
  background: #FDF003;
  border: none;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  float: right;
  font-size: 14px;
  margin: 11px 0 11px 7px;
  padding: 8px 11px;
  -webkit-transition:0.5s all ease;
  -o-transition:0.5s all ease;
  -ms-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
}

form button:hover {
  background: #000;
  color: #EEE;
}