@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway';
  color: #444;
  float: left;
  width: 100%;
  text-align: center;
  margin: auto;
}










#lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

#lightbox.active {
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  opacity: 1;
  z-index: 3;
}

#lightbox .auxiliarModal{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}

#lightbox .modal {
  color: #333;
  width: 400px;
  max-width: 80%;
  background-color: #FAFAFA;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 15px;
  z-index: 5;
}

#lightbox .modal p {
  float: left;
  width: fit-content;
}

#lightbox .modal .modalHead {
  border-bottom: 1px solid #DDD;
}

#lightbox .modal .modalHead p:last-of-type,
#lightbox .modal .modalTail button {
  float: right;
  cursor: pointer;
}

#lightbox .modal .modalTail {
  border-top: 1px solid #DDD;
}

#lightbox .modal .modalTail button {
  background: none;
  border: none;
  border-radius: 2px;
  color: #333;
  font-size: 14px;
  margin: 11px 0 11px 7px;
  padding: 8px 11px;
}

#lightbox .modal .modalTail button:first-of-type {
  background: #FDF003;
}

#lightbox .modalInput {
  display: flex;
  padding-top: 15px;
  width: 100%;
}

#lightbox .modalInput span {
  background-color: #EEE;
  display:flex;
  align-items: center;
  padding: 0 7px;
}

#lightbox .modalInput span:first-of-type {
  border-right: 0;
  border-radius: 3px 0 0 3px;
}

#lightbox .modalInput span:last-of-type {
  border-left: 0;
  border-radius: 0 3px 3px 0;
}

#lightbox .modalInput input {
  width: 100%;
  padding: 0 8px;
  font-family: inherit;
}

#lightbox .modalInput span,
#lightbox .modalInput input {
  color: #666;
  height: 15px;
  border: 1px solid #DDD;
  padding-top: 8px;
  padding-bottom: 8px;
}

#lightbox table {
  border-collapse: collapse;
  font-size: 14px;
  float: left;
  margin: 10px 0;
  width: 100%;
}

#lightbox table td {
  padding: 5px 0;
  text-align: right;
}

#lightbox table td:nth-of-type(odd) {
  text-align: left;
  font-weight: 600;
}

#lightbox table tr:nth-last-child(2) td {
  padding-bottom: 15px;
}

#lightbox table tr:last-of-type td {
  border-top: 2px solid #000;
  padding-top: 15px;
}










#currencyContainer {
  box-sizing: border-box;
  padding: 20px;
}

#currencyContainer,
#currencyContainer div{
  float: left;
  width: 100%;
  text-align: center;
}

#currencyContainer table#currencyTable {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto 0;
  border-collapse: collapse;
  text-align: left;
}

#currencyContainer table#currencyTable th,
#currencyContainer table#currencyTable td {
  padding: 5px;
}

#currencyContainer table#currencyTable th {
  border-color: #CCC;
  border-style: solid;
  border-width: 1px 0;
}

#currencyContainer table#currencyTable tbody {
  color: #666;
}

#currencyContainer table#currencyTable tbody tr:nth-of-type(odd) {
  background-color: #EEE;
}

#currencyContainer table#currencyTable tbody tr:hover {
  cursor: pointer;
  background-color: #DDD;
}

@media screen and (max-width:500px) {
  #currencyContainer table#currencyTable {
    text-align: center;
  }
}