header #headerContainer{
  float: left;
  width: 100%;
  background-color: #FDF003;
  display: flex;
  justify-content: space-between;
}

header p {
  float: left;
  width: 100%;
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header section {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

header section button {
  
}

header section img {
  width: 80px;
}