header {
  background-image: linear-gradient(#FDF003, #FFF);
  float: left;
  height: 200px;
  position: relative;
  width: 100%;
}

header #headerContainer{
  box-sizing: border-box;
  display: flex;
  float: left;
  height: 80px;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
}

header h1 {
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 2px;
  float: left;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

header section {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

header section button {
  background: linear-gradient(#111, #111), linear-gradient(#111, #111), #FDF003;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% 60%, 100% 50%, cover;
  background-position: 100% -30px, 100% 30px, 100% 100%;
  border-width: 0 0 4px;
  border-color: #111;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 555;
  margin: 0 5px;
  padding: 7px 20px;
  -webkit-transition:0.25s all ease;
  -o-transition:0.25s all ease;
  -ms-transition:0.25s all ease;
  -moz-transition:0.25s all ease;
}

header section button:hover {
  background-position: 100% 0%, 100% 110%;
  color:#EEE;
}

header section img {
  width: 80px;
}

header svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: #FDF003;
  z-index: 1;
}

@media screen and (max-width:825px) {
  header h1 {
    font-size: 2.5vw;
  }
}

@media screen and (max-width:500px) {
  header {
    height: 150px;
  }

  header #headerContainer{
    height: 80px;
    padding: 0 15px;
  }

  header h1 {
    font-size: 12px;
    letter-spacing: 1px;
  }

  header section button {
    font-size: 10px;
    padding: 7px 10px;
  }

  header section img {
    width: 50px;
  }

}