@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
body {
  font-family: 'Proxima Nova';
  color: #444;
  float: left;
  width: 100%;
  text-align: center;
  margin: auto;
}

#currencyContainer,
#currencyContainer div{
  float: left;
  width: 100%;
  text-align: center;
}

table {
  width: 80%;
  max-width: 1200px;
  margin: 40px auto 0;
}